.chat-window {
  border: none;
  padding: 1rem;
  min-height: 300px;
  overflow-y: auto;
  width: 50em;
}

.message {
  margin-bottom: 0.5rem;
  border-radius: 10px;
  padding: 0.5rem;
  color: black;
}

.message.user {
  background-color: lightsteelblue;
  text-align: left;
}

.message.assistant {
  background-color: lightgrey;
  text-align: left;
  min-height: 56px;
}

.message.system {
  background-color: yellow;
  text-align: center;
}

.message-content {
  /* Additional styling for the message content */
}
